@charset "UTF-8";




html {
	scroll-behavior: smooth;
	background-color: #ececec;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23909090' fill-opacity='0.27' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

body {
	margin: 10px 0 10px 0;
	padding: 0;
}

#header-container {
	z-index: 200;
	padding: 15px;
}

#header-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.6em;
	justify-content: center;
}

#header-container li {
	margin-right: 15px;
}

.header li:last-child {
	margin-right: 0;
}

.social_media {
	margin-top: 2%;
	font-size: 1.5em;
}

.social_media a:active,
.social_media a:visited,
.social_media a {
	color: black;
}

.header a {
	text-decoration: none;
	color: #888;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2em;
}

.header a:hover,
.header a.active {
	color: #FF7676;
}

.coucou_toi_pp {
	filter: brightness(1.07);
	border-radius: 50%;
	box-shadow:
		0.5px 0.6px 5.3px rgba(0, 0, 0, 0.054),
		1.4px 1.5px 5.5px rgba(0, 0, 0, 0.113),
		3.1px 3.4px 7.5px rgba(0, 0, 0, 0.228),
		11px 12px 32px rgba(0, 0, 0, 0.53);
	width: 20%;
}

.coucou_toi_pp:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 1s ease;
}

.home_dragon {
	width: 80%;
}

#home {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	height: 50vh;
}

#home a {
	width: 100%;
	display: flex;
	justify-content: center;
}

footer {
	text-align: center;
}

footer a {
	color: rgb(65, 64, 64);
	text-decoration: none;
}

footer a:hover {
	color: rgb(122, 116, 116);
}

#galery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 1% 0 1%;
}

#galery img {
	transition: 1s ease;
	width: 100%;
	display: flex;
	justify-content: center;
}




@media screen and (max-width: 1023px) {
	#galery img {
		animation: slide-in-left 1.5s both;
	}

	@keyframes slide-in-left {
		0% {
			transform: translateX(-1000px);
			opacity: 0;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}



#contact {
	display: flex;
	justify-content: center;
	padding-top: 5%;

}


.card {
	margin: 5% 1% 5% 1%;
	width: 250px;
	height: 300px;
	background: #f5f5f5;
	padding: 2rem 3rem;
	transition: box-shadow .3s ease, transform .2s ease;
	animation: slide-in-right 1.5s both;
}

@keyframes slide-in-right {
	0% {
		transform: translateX(1000px);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.card-avatar {
	--size: 80px;
	background-image: url("../assets/coucou_toi_pp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	transition: transform .2s ease;
	margin: 10%
}


/*Card footer*/
.card-social {
	transform: translateY(200%);
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	opacity: 0;
	transition: transform .2s ease, opacity .2s ease;
	padding: 0;
}

.card-social__item {
	list-style: none;
}


.card-social__item li {
	display: block;
	height: 18px;
	width: 18px;
	color: #515F65;
	cursor: pointer;
	transition: fill 0.2s ease, transform 0.2s ease;
}


.card-social__item a:active,
.card-social__item a:visited {
	color: #515F65;

}

/*Text*/
.card-title {
	color: #333;
	font-size: 2em;
	font-weight: 600;
	line-height: 2rem;
}

.card-subtitle {
	color: #859ba8;
	font-size: 0.8em;
	padding: 3% 0 15% 0;
}

/*Hover*/
.card:hover {
	box-shadow: 0 15px 50px #0000006b;
}

.card:hover .card-info {
	transform: translateY(-5%);
}

.card:hover .card-social {
	transform: translateY(100%);
	transform: scale(1.5);
	opacity: 1;
}

.card-social__item a:hover {
	color: #232323;
	transform: scale(1.1);
}

.card-social__item a {
	color: #232323;
}

.card-avatar:hover {
	transform: scale(1.1);
}


@media screen and (min-width: 500px) {
	#header-container {
		font-size: 1.5em;
	}

	#home {
		height: 75vh;
	}

	.home_dragon {
		width: 80%;
		margin-top: 10%;
	}

	.coucou_toi_pp {
		width: 20%;
		margin-bottom: 20%;
	}
}

@media screen and (min-width: 800px) {
	#header-container {
		font-size: 1.5em;
	}

	.home_dragon {
		width: 80%;
		margin-top: 15%;
	}

	#home {
		height: 100vh;
	}
	.coucou_toi_pp {
		width: 20%;
		margin-bottom: 30%;
	}
}

@media screen and (min-width: 1024px) {

	body {
		overflow-y: hidden;
	}

	#header-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		height: 10px;
		font-size: 1.5em;
	}

	.header ul,
	.social_media ul {
		display: flex;
		flex-direction: row;
	}

	.social_media {
		font-size: 1.5em;
		margin: 0;
	}


	.social_media a:hover {
		color: #FF7676;
	}

	#container {
		width: 100%;
		height: 91vh;
		overflow-x: hidden;
		overflow-y: hidden;
		display: flex;
		scroll-behavior: smooth;
	}


	#home,
	#galery,
	#shop,
	#contact {
		flex-grow: 1;
		min-height: 100vh;
		min-width: 100%;
		white-space: nowrap;
		scroll-behavior: smooth;
	}

	#home {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	#home a {
		width: 0;
	}

	.home_dragon {
		width: 60%;
		margin: 0;
	}

	.coucou_toi_pp {
		width: 150px;
		margin: 0;
	}

	#galery img:hover {
		-webkit-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		transition: 1s ease;
		z-index: 500;
	}

	#galery {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, 0.3fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.image-1 {
		grid-area: 2 / 1 / 3 / 2;
	}

	.image-2 {
		grid-area: 2 / 2 / 3 / 3;
	}

	.image-3 {
		grid-area: 2 / 3 / 3 / 4;
	}

	.image-4 {
		grid-area: 2 / 4 / 3 / 5;
	}

	.image-5 {
		grid-area: 2 / 5 / 3 / 6;
	}

	.image-6 {
		grid-area: 3 / 1 / 4 / 2;
	}

	.image-7 {
		grid-area: 3 / 2 / 4 / 3;
	}

	.image-8 {
		grid-area: 3 / 3 / 4 / 4;
	}

	.image-9 {
		grid-area: 3 / 4 / 4 / 5;
	}

	.image-10 {
		grid-area: 3 / 5 / 4 / 6;
	}

	.image-11 {
		grid-area: 4 / 1 / 5 / 2;
	}

	.image-12 {
		grid-area: 4 / 2 / 5 / 3;
	}

	.image-13 {
		grid-area: 4 / 3 / 5 / 4;
	}

	.image-14 {
		grid-area: 4 / 4 / 5 / 5;
	}

	.image-15 {
		grid-area: 4 / 5 / 5 / 6;
	}

	#galery img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}
@media (min-height: 320px) and (max-height: 550px) and (max-width: 1023px) {
	#home {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 80%;
	}

	.coucou_toi_pp {
		width: 20%;
		margin: 0;
	}

	.home_dragon {
		width: 50%;
		margin: 0;
	}
  }
